# production
/node_modules
yarn.lock


# production
/build
/dist

# misc
.DS_Store
*.pem
.idea
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts