@import "src/styles/utils";

.wrapper {
    display: flex;
    @extend %adaptive_width;
    min-height: calc(100vh - $footer-height - $header-height - $margin30 * 2);
    align-items: center;
    justify-content: center;

    &__button {
        display: flex;
        align-items: center;
        text-decoration: none;
        background-color: $blue_color;
        border: none;
        border-radius: 5px;
        height: 32px;
        padding-left: 7px;
        padding-right: 7px;
        @include text(600, 18px, 20px, $white_color);
        box-sizing: border-box;
    }

    &__button:hover {
        background-color: $blue_color_hover;
    }

    &__button:active {
        background-color: $blue_color_active;
    }
}
