@import url("http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic");

@mixin text($w, $s, $l, $c) {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: $w;
    font-size: $s;
    line-height: $l;
    color: $c;
}

$item_width: 250px;
$item_height: 270px;
$margin30: 30px;

$footer-height: 60px;
$header-height: 50px;

$white_color: #fbfbfb;
$grey_color: #f5f5f5;
$black_color: #292929;
$blue_color: #4ca7f8;
$blue_color_hover: #4397f0;
$blue_color_active: #3d88e6;
$red_color: #ff6e4a;
$blackout_color: rgba(0, 0, 0, 0.5);
$blue_color_transparency: rgba(76, 167, 248, 0.3);

// $white_color: #ffffff;
// $grey_color_background: #f9f9f9;
// $grey_color_text: #7d7d7d;
// $grey_color: #f5f5f5;
// $black_color: #292929;
// $yellow_color: #fadc67;
// $yellow_color_hover: #f8d857;
// $yellow_color_active: #f5c939;
// $yellow_color_transparency: rgba(250, 220, 103, 0.3);
// $red_color: #ff6e4a;
// $blackout_color: rgba(0, 0, 0, 0.5);

$media1: 1400px;
$media2: 1120px;
$media3: 840px;
$media4: 600px;

%adaptive_width {
    width: calc($item-width * 4 + $margin30 * 4 + $item_width);
    @media (max-width: $media1) {
        width: calc($item_width * 3 + $margin30 * 3 + $item_width);
    }
    @media (max-width: $media2) {
        width: calc($item_width * 2 + $margin30 * 2 + $item_width);
    }
    @media (max-width: $media3) {
        width: calc($item_width * 2 + $margin30 * 1);
    }
    @media (max-width: $media4) {
        width: calc($item_width * 1 + $margin30 * 0);
    }
    margin-left: auto;
    margin-right: auto;
}
