@import "src/styles/utils";

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: $header-height;
    margin-top: 0;
    margin-bottom: $margin30;
    background-color: $black_color;
    box-shadow: 0 0 5px 2px $black_color;

    &__header {
        display: flex;
        @extend %adaptive_width;

        &__main {
            display: flex;
            align-items: center;
            text-decoration: none;
            @include text(600, 18px, 20px, $white_color);
            padding: 5px;
            border-radius: 5px;
            box-sizing: border-box;

            &__icon {
                margin-right: 3px;
                margin-bottom: 3px;
            }
        }

        &__main:hover {
            background-color: $white_color;
            color: $black_color;
        }

        &__icon {
            color: $white_color;
            width: 28px;
            height: 28px;
            margin-left: 5px;
            border-radius: 6px;
            box-sizing: border-box;
            cursor: pointer;
        }

        &__icon:hover {
            color: $black_color;
            background-color: $white_color;
            border: 1px solid $white_color;
        }
    }
}
