@import "src/styles/utils";

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: $header-height;
    margin-top: 0;
    margin-bottom: $margin30;
    background-color: $black_color;
    box-shadow: 0 0 5px 2px $black_color;

    &__header {
        display: flex;
        justify-content: right;
        @extend %adaptive_width;

        &__icon {
            color: $white_color;
            width: 28px;
            height: 28px;
            margin-left: 5px;
            border-radius: 6px;
            box-sizing: border-box;
            cursor: pointer;
        }

        &__icon:hover {
            color: $black_color;
            background-color: $white_color;
            border: 1px solid $white_color;
        }
    }
}
